@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  font-size: 1.1rem;
  background-color: #f5f5f5;
  background-image: linear-gradient(to right, #c5c5c5, #e0e0e0);
  color: #172244;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8em 0 0;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f0f5f9;
  border-radius: 1rem;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  width: 78ch;
  height: 30ch;
}

h1 {
  /* margin: 0 0 3.8em 0; */
  position: absolute;
  top: 2em;
  right: 22.5em;
  cursor: pointer;
}

.logo-text {
  position: absolute;
  left: 1.25em;
  top: 0.25em;
  font-size: 3rem;
}

span > img {
  width: 3.5ch;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 500;
  width: 31%;
  margin-top: 20px;
}

label[for="select-unit"] {
  color: #0046be;
}

input {
  font-size: inherit;
  font-family: inherit;
  background-color: #fafdff;
  border: 2px solid #f4f6f7;
  border-radius: 5px;
  padding: 0.5em;
  outline: none;
  width: 55.8%;
}

input:focus,
select:focus {
  background-color: #e7f6fb;
  border: 2px solid #025eff;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#result {
  background-color: #f0f4f8;
  border: 2px solid #0046be;
}

#result:focus {
  background-color: #e4edf7;
  border: 2px solid #0058f0;
}

.select-unit-section {
  margin-bottom: 0.8rem;
}

.convert-title {
  font-size: 1.4rem;
}

.conversion-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45ch;
  position: absolute;
  right: 0;
  border-radius: inherit;
  background-color: #fff;
  height: 30ch;
  padding: 1em 0 2em 2em;
}

.conversion-container {
  width: 100%;
}

.convert-title {
  font-weight: 600;
}

select {
  background-color: #f8f9fa;
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  border: 2px solid #f5f5f7;
  cursor: pointer;
  width: 60%;
  appearance: none;
}

.frequency-unit,
.fuel-unit,
.length-unit,
.mass-unit,
.pressure-unit,
.volume-unit,
.temperature-unit {
  display: none;
}

footer {
  font-size: 0.8rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 800px) {
  body {
    font-size: 1em;
    margin: 6em 0 0;
  }

  .container {
    display: block;
    border-radius: 0.8rem;
    width: 95%;
    height: 60.5ch;
  }

  h1 {
    top: 0.3em;
    left: 0.8em;
  }

  span > img {
    width: 2ch;
  }

  .logo-text {
    position: absolute;
    left: 1em;
    top: 0;
    font-size: 2rem;
  }

  label[for="input-el"] {
    margin-bottom: 8px;
  }

  input {
    width: 92%;
  }

  .conversion-section {
    width: 90%;
    left: 0;
    bottom: 0;
    height: 40ch;
    padding: 2em 1em 3.5em 1.5em;
    margin-top: 1em;
  }

  .conversion-container {
    width: 95%;
  }

  select {
    display: block;
    width: 98%;
  }
}
